@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div hidden="@Meta.IsReentryRunning()" style="background-color: red; text-align: center; padding: 5px">
        <h1><b>WARNING!</b> Reentry not running</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
